@font-face {
  font-family: 'Elmore-Osf Regular';
  src: url('./assets/fonts/Elmore-Osf Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  @apply bg-slate-50 text-slate-900;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-brand: "Elmore-Osf Regular", cursive;
  --color-primary: #b4d773;
  --color-secondary: #9fcb5a;
  --color-tertiary: #efffd2;
}